<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.nammaapp.itskannada"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.nammaapp.itskannada.EngKanDictSearch"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.DisplayMeanings"
            android:label="@string/displaymeanings" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.EngOrKanUser"
            android:label="@string/title_activity_eng_or_kan_user" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ChooseStartActivity"
            android:label="@string/title_activity_choose_start" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.EnglishHomeActivity"
            android:label="@string/title_activity_english_home" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.KannadaHomeActivity"
            android:label="@string/title_activity_kannada_home" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.DictionarySearchActivity"
            android:label="@string/title_activity_dictionary_search" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.PhraseSearchActivity"
            android:label="@string/title_activity_phrase_search" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.EngPhraseRequestHomeActivity"
            android:label="@string/title_activity_request_phrase_translate" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.SearchActivity"
            android:label="@string/title_activity_search_forum" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.TutorOptions"
            android:label="@string/title_activity_learning_module" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.DictSearchActivity"
            android:label="@string/title_activity_dict_search" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ForumHomeActivity"
            android:label="@string/title_activity_forum" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.RequestListActivity"
            android:label="@string/title_activity_phrase_request" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ContextRequestEngHomeActivity"
            android:label="@string/title_activity_word_context_res" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.NotificationsActivity"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.PointsActivity"
            android:label="@string/title_activity_points" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.PronunciationActivity"
            android:label="@string/title_activity_pronunciation" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.EvalActivity"
            android:label="@string/title_activity_eval" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.MyHomeActivity"
            android:label="@string/title_activity_my_home" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.QuestionDisplayActivity"
            android:label="@string/title_activity_question_display" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.AddAnswerActivity"
            android:label="@string/title_activity_add_answer" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.MyQuestionsActivity"
            android:label="@string/title_activity_my_questions" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.MyAnswersActivity"
            android:label="@string/title_activity_my_answers" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.MyQuestionDisplayActivity"
            android:label="@string/title_activity_my_question_display" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.LearnActivity"
            android:label="@string/title_activity_learn" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.KanWordsTestActivity"
            android:label="@string/title_activity_kan_words_test" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.LearnPhraseActivity"
            android:label="@string/title_activity_learn_phrase" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.SyncActivity"
            android:label="@string/title_activity_sync" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ContextSearchHome"
            android:label="@string/title_activity_context_search_home" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ContextDisplayMeaningActivity"
            android:label="@string/title_activity_context_display_meaning" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.RegionalPointsListActivity"
            android:label="@string/title_activity_regional_points_list" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.XPPointsActivity"
            android:label="@string/title_activity_xppoints" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.QUpPointsActivity"
            android:label="@string/title_activity_qup_points" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.AUpPointsActivity"
            android:label="@string/title_activity_aup_points" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.MyPointsDisplayActivity"
            android:label="@string/title_activity_my_points_display" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.PracticeTest"
            android:label="@string/title_activity_practice_test" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.TestOptions"
            android:label="@string/title_activity_test_options" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.PracticeTestOptions"
            android:label="@string/title_activity_practice_test_options" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.RequestPhraseTranslateActivity"
            android:label="@string/title_activity_request_phrase_translate" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.MyPhraseRequestsActivity"
            android:label="@string/title_activity_my_phrase_requests" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ProvideTranslateActivity"
            android:label="@string/title_activity_provide_translate" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.RequestContextResolutionActivity"
            android:label="@string/title_activity_request_context_resolution" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.MyContextResolutionActivity"
            android:label="@string/title_activity_my_context_resolution" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.KanPhraseHomeActivity"
            android:label="@string/title_activity_kan_phrase_home" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ContextKanHomeActivity"
            android:label="@string/title_activity_context_kan_home" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ResolveSystemContextRequestsActivity"
            android:label="@string/title_activity_resolve_system_context_requests" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ResolveContextFormActivity"
            android:label="@string/title_activity_resolve_context_form" >
        </activity>
        <activity
            android:name="in.nammaapp.itskannada.ResolveUserContextRequestsActivity"
            android:label="@string/title_activity_resolve_user_context_requests" >
        </activity>
    </application>

</manifest>